@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #F8F9FA; /* canvas color */
  color: #0B0F19; /* saas.dark color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hilangkan spin button panah pada input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
