DATABASE_URL="YOUR_DATABASE_URL_HERE"
DIRECT_URL="YOUR_DIRECT_URL_HERE"

# Server
PORT=5000
NODE_ENV=development

# JWT — GANTI dengan secret yang aman di production!
JWT_SECRET=posyandu_super_secret_key_ganti_di_production
JWT_EXPIRES_IN=7d

# Client URL (untuk CORS - pisahkan dengan koma jika lebih dari satu)
CLIENT_URL=http://localhost:3000,http://localhost:3001

# Google OAuth Client ID (opsional untuk verifikasi audience backend)
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email.posyandu@gmail.com
SMTP_PASS=app_password_anda
SMTP_FROM="PosyanduKita <noreply@posyandukita.com>"

# Redis Cache (Upstash / Docker / Cloud)
# Format Upstash : rediss://default:<password>@<endpoint>.upstash.io:6379
# Format Docker  : redis://localhost:6379
REDIS_URL="redis://localhost:6379"